body {
    margin: 0;
    padding: 0;
    color:rgb(0, 0, 0);
    background-color: black;
}

header {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
nav ul li a:hover, .active {
    background-color: #1100ff;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    clear: both;
}
.content {
    margin:20px;
    padding: 20px;  
    background-color: #ff0000;
    width: 95%;
    text-align: center;
   
}
.index {
    width: 5%;
}